<p id="notice"><%= notice %></p>

<p>
  <strong>Visitor who:</strong>
  <%= @visit.from_user.fullname %>
</p>

<p>
  <strong>Visit to:</strong>
  <%= @visit.to_user.fullname %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @visit.problem %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
